/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";


global {
	/*font-family: Georgia;*/
	font-family: Times;
	font-size: 13; 
	chrome-color: #5D5959;
	symbolColor:white; 
}
s|Application {
	/*skinClass: ClassReference("skins.ApplicationSkin"); */
}
	
s|Button {
	skinClass: ClassReference("skins.ButtonSkin");
}

/*s|ToogleButton {
	skinClass:ClassReference("skins.ToggleButtonSkin"); 
}
*/
	
s|DataGrid {
	skinClass:ClassReference("skins.DataGridSkin"); 
}

s|VScrollBar {
	/*skinClass:ClassReference("skins.VScrollBarSkin");*/
}
.actionButton {
	chromeColor: #19408E;
	/*skinClass:ClassReference("skins.ActionButtonSkin");*/
	
}
#companyLabel {
	color: #BC0D0D;
   	fontSize: 24;  
	fontWeight: bold; 
}
s|TextInput.searchInput
{
	skinClass: ClassReference("skins.SearchInputSkin");
}
s|Button.searchButton
{
	skinClass: ClassReference("skins.SearchButtonSkin");
}
	
mx|PieSeries {
	fills: #6B96D0,#5B7FB2,#81A4D0,#7EC2EA,#6B84A5,#686BD0,#6A8AD0;
}
.grayFill {
	fill:#5B7FB2;
}
mx|ColumnChart {
	axisTitleStyleName: boldTitles; 	
}
.boldTitles {
	fontWeight:bold; 
}





